<% provide(:title, "About")%>
<section class="row">
  <div class="col-md-4 photo-box">
    <div class="photo">
      <%= image_tag("sop2.jpg", :alt => "vestment", class: "feature-img") %>
    </div>
  </div>

  <div class="col-md-8 text-box">
    <h2>Heading</h2>
    <div class="text">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    </div>
  </div>

</section>
