<% provide(:title, "What's New")%>
<section class="row">
  <div class="col-md-3 photo-box">
    <div class="photo">
      <%= image_tag("9.jpg", :alt => "vestment", class: "feature-img") %>
    </div>
  </div>

  <div class="col-md-9 text-box">
    <h2>Heading</h2>
    <div class="text">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    </div>
  </div>

</section>

<section class="row">
  <div class="col-md-3 photo-box">
    <div class="photo">
      <%= image_tag("9.jpg", :alt => "vestment", class: "feature-img") %>
    </div>
  </div>

  <div class="col-md-9 text-box">
    <h2>Heading</h2>
    <div class="text">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    </div>
  </div>

</section>

<section class="row">
  <div class="col-md-3 photo-box">
    <div class="photo">
      <%= image_tag("9.jpg", :alt => "vestment", class: "feature-img") %>
    </div>
  </div>

  <div class="col-md-9 text-box">
    <h2>Heading</h2>
    <div class="text">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    </div>
  </div>

</section>
